<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seniordesign.smartlighthub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".View.LoginPage" />
        <activity android:name=".View.CreateAccount" />
        <activity android:name=".View.SettingsPage" />

        <Fragment android:name=".View.HomePage" />

        <activity android:name=".View.PresetLightInfo" />

        <Fragment android:name=".View.LightPresets" />
        <Fragment android:name=".View.Routines"/>

        <activity android:name=".View.MusicControls" />
        <activity android:name=".View.MusicSpotify" />
        <activity android:name=".View.LightInfo" />
        <activity
            android:name=".Controller.BottomNavigation"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".View.AddPresetsActivity" />
        <activity android:name=".View.MoodCreation" />
    </application>

</manifest>